  
<div class="card-image">

	
   <div class="top-number">
    <%= @question.a %>
  </div>

   <div class="left-number">
    <%= @question.b %>
  </div>

   <div class="right-number">
    <%= @question.c %>
  </div>

   <div class="bottom-number">
    <%= @question.d %>
  </div>
</div>
<%= link_to 'Next', Question.all.sample %>
<%= link_to 'Back', questions_path %>
<br>

<div id="solutions">
	<% @question.solutions.each do |x| %>
	<p>
	<%= x.answer %>
	</p>
    <% end %>
   		
</div>





