
<head>
<style type="text/css">
body {background-image:'file://localhost/Users/Addison/Desktop/RubySTUFF/TwentyFour/app/assets/images/TwentyFourCard.png';}
</style>
</head>

<p>
  <b>A:</b>
  <%= @question.a %>
</p>

<p>
  <b>B:</b>
  <%= @question.b %>
</p>

<p>
  <b>C:</b>
  <%= @question.c %>
</p>

<p>
  <b>D:</b>
  <%= @question.d %>
</p>

<p>

<%= link_to 'Back', questions_path %>
</body>


