<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @solution.question_id %>
</p>

<p>
  <b>Answer:</b>
  <%= @solution.answer %>
</p>


<%= link_to 'Edit', edit_solution_path(@solution) %> |
<%= link_to 'Back', solutions_path %>
